@import '@/style/base.scss';

.card {
	&.alive {
		border: solid 2px green;
	}

	&.dead {
		border: solid 2px red;
	}

	&.unknown {
		border: solid 2px grey;
	}
	& .title {
		opacity: 0;
		visibility: hidden;
		position: absolute;
		top: calc(100% - 5rem);
		transition: all 0.3s ease;
		text-align: center;
	}
	:hover {
		cursor: pointer;
		& .title {
			top: 0;
			opacity: 1;
			visibility: visible;
		}
	}
}
